/*** GENERAL STYLING ***/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Mobile first */

header {
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 40px 36px 0px 36px;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(95%);
}

video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-repeat: repeat;
    filter: brightness(75%);
}

.icon-wrapper {
    display: flex;
    justify-content: flex-end;
}

.header-wrapper {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

a {
    text-decoration: none;
}

.icon {
    border: 3px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}

/* HEADER TEXT */

.header-text-wrapper {
    align-self: flex-start;
    margin-top: 15%;
}

.header-text {
    font: normal normal bold 40px/49px Montserrat;
    color: #FFFFFF;
    opacity: 1;
}

.name, .portfolio {
    font: 13px 'Roboto', 'sans-serif';
    color: white;
    text-transform: uppercase;
    margin-bottom: -15px;
}

.header-title {
    font: normal normal bold 24px/29px Montserrat;
    color: white;
    margin-top: -15px;
}

.name, .header-title, .header-text {
    font-weight: bold;
}

.profile-picture {
    background-image: url(Agnes.jpg);
    border: 2px solid white;
    width: 162px;
    height: 162px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: -30px;
    position: absolute;
    top: 300px;
}

.line {
    width: 45px;
    height: 2px;
    background: lightpink;
    margin-bottom: 5px;
    display: inline-block;
}

.circle {
    width: 12px;
    height: 12px;
    background: lightpink;
    border-radius: 50%;
    display: inline-block;
}

.intro {
    font: 17px 'Montserrat';
    padding-top: 50px;
}

/* Section styling */

.portfolio-section {
    padding: 10px 36px 10px 36px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grey {
    background-color: #F4F4F4;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
}

.project-card {
    margin-top: 25px;
}

.section-text-wrapper {
    display: flex;
}

.section-header, .section-header-desktop, .section-header-mobile {
    font-family: "Montserrat", sans-serif;
    opacity: 1;
    text-align: center;
    background-color: pink;
    color: white;
    text-transform: uppercase;
    width: fit-content;
    margin: 20px auto;
    padding: 0px 10px;
}

.section-header-desktop {
    display: none;
}

.section-header-sub {
    font-family: "Montserrat";
    opacity: 1;
    text-align: center;
    color: pink;
    text-transform: uppercase;
    width: fit-content;
    margin: 20px auto;
}

.featured-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    margin-top: 20px;
    color: black;
}

.featured-title {
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 0;
    color: pink;
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.featured-header {
    font: 21px 'Roboto';
    font-weight: bold;
    color: black;
}

.no-margin {
    margin: 0;
    line-height: 1.5em;
}

.tech-skills {
    text-align: center;
    font: 17px 'Montserrat';
    letter-spacing: 0px;
    opacity: 1;
}

.pink {
    color: pink;
}

.tech-sign-wrapper {
    /* The wrapper for the tech-signs */
    display: flex;
}

.tech-sign {
    /* The small pink boxes with tech-words.*/
    font-family: Roboto;
    color: #2B2E34;
    background-color: #FDDFE7;
    font-size: 12px;
    padding: 4px 12px;
    margin: 3px 3px;
}

.more-project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.more-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.skill {
    width: 50%;
}

.skill-header {
    font: 17px 'Roboto';
    color: pink;
    text-transform: uppercase;
    font-weight: bold;
}

.skill-text {
    font: 17px 'Roboto';
    color: black;
}

.section-header-desktop {
    display: none;
}

.big-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.each-icon {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.big-icon {
    border: 3px solid pink;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}

.big-icon-image {
    width: 50%;
}

.icon-text {
    font: 11px 'Roboto';
    color: pink;
    text-transform: uppercase;
}

footer {
    background-color: pink;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0px;
    margin-top: 50px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer h3 {
    font-weight: bold;
    font-size: 21px;
}

footer p {
    margin: 10px;
    font-size: 17px;
}
  
.image-text-container {
    position: relative;
    text-align: center;
}
  .img{
      filter: opacity(80%);
    
  }

.img:hover{
    filter: opacity(100%);
}

  .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: bold 28px 'Montserrat', sans-serif;
    color: pink;
    text-transform: uppercase;
  }

@media (min-width: 800px) {
    header {
        padding: 90px 80px 0 80px;
    }
    
    .profile-picture {
        width: 250px;
        height: 250px;
        top: 150px;
    }

    .project-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .featured-project {
        width: 50%;
    }
    
@media (min-width: 1025px) {
    header {
        padding: 100px 100px 0 100px;
    }
    .section-header-mobile {
        display: none;
    }
    .section-header-desktop {
        display: block;
    }

    .section-header, .section-header-desktop, .section-header-sub{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .header-text-wrapper {
        margin-top: 0%;
    }
    .portfolio, .name {
        font-size: 28px;
        margin-bottom: 0px;
    }
    .header-text {
        font-size: 82px;
    }
    .profile-picture {
        width: 333px;
        height: 333px;
        top: 110px;
        right: 0;
    }

    .intro{
        margin-top: 50px;
    }
    .project-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .featured-project {
        width: 50%;
    }
    .each-project {
        width: 100%;
    }
    .portfolio-section {
        padding: 10px 255px 10px 255px;
        display: flex;
    }
    .section-header, .section-header-desktop {
        font-size: 48px;
    }
    .section-header-sub {
        font-size: 38px;
    }
    .project-card {
        padding: 10px;
    }
    .skills-wrapper {
        justify-content: flex-start;
        text-align: center;
    }
    .skill {
        width: 33%;
    }
    .skill-header {
        font-size: 25px;
    }
    .skill-text {
        font-size: 25px;
    }
    .big-icon {
        width: 160px;
        height: 160px;
    }
    .icon-text {
        font-size: 25px;
    }
    footer h3 {
        font-weight: bold;
        font-size: 38px;
    }
    
    footer p {
        margin: 10px;
        font-size: 30px;
    }

    .project-card:hover{
        box-shadow: 0.5px 0.5px 0.5px 1px pink;
    }

    .each-icon{
        margin-top: 30px;
        }
    }
}